div#kc-header {
    margin-bottom: 40px;
}

div#kc-header-wrapper {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    padding: 62px 10px 20px;
    white-space: normal;
}

.mw-75 {
    max-width: 75% !important
}